<!DOCTYPE html>
<html lang="en">
<head>
    <title> Aeint Thet Ngon</title>
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/custom/navbar-top-fixed.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/1-col-portfolio.css" rel="stylesheet">
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/CSS/styles.css">	
  <link rel="stylesheet" href="/CSS/about.css">	
</head>
<body>  
 
 <nav class="navbar navbar-expand-md navbar-dark bg-info">
	 <a class="navbar-brand" href="http://aeintngon.github.io">Aeint Thet Ngon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
	 </button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://aeintngon.github.io/Portfolio.html">Portfolio</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/Images/Aeint Ngon's resume_domain.pdf">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

<div class='content row'>
  <div class='col-sm-9 col-xs-12'>
  <br>

    {{content}}
  
  </div>
</div>
<hr id='bottom-line'>

<footer class="footer">
	<div class="inner-footer", align="center">
		<ul class="footer-nav">
			<li><a id="gmail" href="mailto:an692@georgetown.edu" target="_blank"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></li>
			<li><a id="linkedin" href="https://www.linkedin.com/in/Aeintngon/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="github" href="https://github.com/aeintngon" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="twitter" href="https://twitter.com/aeintngon" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
</li>
			<li><a id="pdf" href="/images/resume/AeintNgon_resume.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></i></a>
</li>
		</ul>
	</div>
</footer>
    
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	
</body>
</html>
